@import '../../../../variables.scss';

.all-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $light-color;
  padding: 20px $base-container-horizontal-paddings;

  .information-footer {
    display: flex;
    gap: 20px;
  }
}
