@import '../../../variables.scss';

.all-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-color;
  padding: 20px $base-container-horizontal-paddings;

  .logo {
    font-weight: 700;
  }

  .nav-header {
    display: flex;
    gap: 30px;
  }
}
