<div class="all-header">
  <div class="logo">Balance tracker</div>
  <nav class="nav-header">
    <a
      class="nav-link"
      routerLinkActive="nav-active-rout"
      [routerLink]="['balance']"
      >Balance</a
    >
    <a
      class="nav-link"
      routerLinkActive="nav-active-rout"
      [routerLink]="['add-transaction']"
      >New transaction</a
    >
    <a
      class="nav-link"
      routerLinkActive="nav-active-rout"
      [routerLink]="['statisrics']"
      >Statistics</a
    >
    <a
      class="nav-link"
      routerLinkActive="nav-active-rout"
      [routerLink]="['exchange-rate']"
      >Exchange rate</a
    >
    <a
      class="nav-link"
      routerLinkActive="nav-active-rout"
      [routerLink]="['sign-in']"
      >Sign in</a
    >
  </nav>
</div>
