<form class="all-form-sign-in" [formGroup]="userFormSignIn" (ngSubmit)="submitForm()" (input)="validateForm()">
  <h1 class="h1-sign-in">Sign In</h1>

  <label for="email" class="label-form-sign-in">Email</label>
  <input type="email" id="email" class="input-form-sign-in" formControlName="email">

  <label for="password" class="label-form-sign-in">Password</label>
  <input type="password" id="password" class="input-form-sign-in" formControlName="password">

  <button type="submit" class="btn-submit-sign-in" [disabled]="!isValid">Submit</button>

</form>
