<form
  class="all-form-transaction"
  [formGroup]="transactionForm"
  (ngSubmit)="submitForm()"
>
  <div class="btns-type-trasaction-block">
    <button
      type="button"
      class="btn-type-transaction btn-income"
      (click)="setIncomeTypeTransaction()"
    >
      Income
    </button>
    <button
      type="button"
      class="btn-type-transaction btn-expense"
      (click)="setExpenseTypeTransaction()"
    >
      Expense
    </button>
  </div>
  <h2 class="h2-type-transaction">{{ typeTransaction || null }}</h2>
  <div *ngIf="typeTransaction" class="all-form-fields-transaction">
    <div class="input-block">
      <label for="title" class="label">Title<br><span [ngClass]="transactionForm?.get('title')?.invalid ? 'span-requaried-error' : 'span-requaried'">*requaried</span></label>
      <input
        maxlength="100"
        type="text"
        id="title"
        class="input input-title"
        formControlName="title"
      />
    </div>

    <div class="input-block">
      <label for="description" class="label">Description</label>
      <textarea
        id="description"
        class="input input-description"
        formControlName="description"
      ></textarea>
    </div>

    <div class="input-block input-block-amount">
      <label for="amount" class="label">amount<br><span [ngClass]="transactionForm?.get('amount')?.invalid ? 'span-requaried-error' : 'span-requaried'">*requaried</span></label>
      <input
        type="number"
        id="amount"
        class="input input-amount"
        formControlName="amount"
      />
    </div>

    <div class="input-block input-block-radio">
      <p class="label">Regularity<br><span [ngClass]="transactionForm?.get('regularity')?.invalid ? 'span-requaried-error' : 'span-requaried'">*requaried</span></p>
      <label for="regularity-yes">yes</label>
      <input
        type="radio"
        id="regularity-yes"
        value="yes"
        class="input-radio"
        formControlName="regularity"
      />
      <label for="regularity-no">no</label>
      <input
        type="radio"
        id="regularity-no"
        value="no"
        class="input-radio"
        formControlName="regularity"
      />
    </div>

    <div class="input-block">
      <label for="category" class="label">Category<br><span [ngClass]="transactionForm?.get('category')?.invalid ? 'span-requaried-error' : 'span-requaried'">*requaried</span></label>
      <select
        formControlName="category"
        id="category"
        class="input-select"
        (change)="setSubcategories()"
      >
        <option *ngFor="let category of categoriesArr" [ngValue]="category">
          {{ category.category }}
        </option>
      </select>
    </div>

    <div class="input-block">
      <div class="all-checkboxes-block">
        <label
          class="label-checkbox"
          formArrayName="subcategories"
          *ngFor="
            let subcategory of subcategoriesFormArray.controls;
            let i = index
          "
        >
          <input
            type="checkbox"
            class="input-checkbox"
            [formControlName]="i"
            value="subcategories[i]"
          />
          {{ subcategories[i] }}
        </label>
      </div>
    </div>

    <div class="input-block input-block-date">
      <label for="date" class="label">Date</label>
      <input
        type="date"
        id="date"
        class="input input-date"
        formControlName="date"
      />
    </div>

    <button type="submit" class="btn-submit-transaction">Save</button>
  </div>
</form>
