@import '../../../variables.scss';

.all-form-transaction {
  .btns-type-trasaction-block {
    max-width: 800px;
    display: flex;
    gap: 20px;

    .btn-type-transaction {
      width: 100%;
      border: none;
      border-radius: $base-border-radius;
      padding: 17px 0;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        background: $accent-color;
      }
    }

    .btn-income {
      background: none;
      border: 1px solid $primary-color;
    }

    .btn-expense {
      background: none;
      border: 1px solid $primary-color;
    }
  }

  .h2-type-transaction {
    font-size: 36px;
    color: $accent-color;
    text-transform: capitalize;
    margin: 40px 0;
  }

  .all-form-fields-transaction {
    max-width: 800px;
    width: 100%;

    .input-block {
      width: 100%;
      display: flex;
      margin-bottom: 30px;

      .label {
        width: 140px;
        font-weight: 700;
        padding-top: 10px;

        .span-requaried,
        .span-requaried-error {
          font-size: 12px;
          font-weight: 200;
          color: $light-color;
        }

        .span-requaried-error {
          font-size: 14px;
          color: $error-text-message;
        }
      }

      .input {
        width: 100%;
        outline: none;
        border: 1px solid $light-color;
        border-radius: $base-border-radius;
        padding: 12px 17px;
        margin-left: 17px;
      }

      .input-description {
        height: 120px;
        resize: none;
      }

      .input-amount {
        width: 160px;
      }

      .all-checkboxes-block {
        margin-left: 140px;
      }
    }

    .input-block-amount {
      max-width: 300px;
    }

    .input-block-radio {
      display: flex;
      align-items: center;

      .input-radio {
        width: 30px;
        height: 30px;
        margin: 0 20px 0 10px;
        cursor: pointer;
      }
    }

    .input-select {
      outline: none;
      width: 400px;
      height: 40px;
      border: 1px solid $light-color;
      border-radius: $base-border-radius;
    }

    .input-block-date {
      .input-date {
        width: 180px;
        margin-left: 0;
      }
    }

    .btn-submit-transaction {
      max-width: 362px;
      width: 100%;
      color: $white-color;
      background: $accent-color;
      border: none;
      border-radius: $base-border-radius;
      padding: 17px 0;
      margin-top: 20px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    .all-checkboxes-block {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .label-checkbox {
        cursor: pointer;
      }
    }
  }
}
