<div class="all-page-exchange-rate">
  <div class="guest-block">
    <h1 class="h1-text-guest">Welcome to <span class="span-highlight">Expense tracker! </span><br/> For getting more functionality please</h1>
    <a class="link-sign-in" [routerLink]="['../sign-in']">Sign In</a>
  </div>
  <div class="currency-block">
    <div class="currency-name-block">
      <h2>Exchanges rates</h2>
      <div class="btns-toggle-view-block">
        <button [ngClass]="isCards ? 'btn-toggle btn-active' : 'btn-toggle'" (click)="setCardsView()">Cards</button>
        <button [ngClass]="!isCards ? 'btn-toggle btn-active' : 'btn-toggle'" (click)="setTableView()">Table</button>
      </div>
    </div>
    <!-- <p class="p-base-currency">base currency: <span class="span-base-currency">{{ baseCurrency }}</span></p> -->
    <p class="p-base-currency">last update: <span class="span-base-currency">{{ currencyData.time_last_update_utc | date }}</span></p>
    <div class="all-currency-elements-block">
      <div *ngIf="!isCards" class="all-table-block">
        <app-table-exchange-rate
          [ratesArr]="ratesArr"
          [baseCurrency]="baseCurrency"
        >
        </app-table-exchange-rate>
      </div>
      <div *ngIf="isCards" class="all-cards-block">
        <app-card-exchange-rate *ngFor="let rateItem of ratesArr"
          [baseCurrency]="baseCurrency"
          [currency]="rateItem.currency"
          [rate]="rateItem.rate"
        ></app-card-exchange-rate>
      </div>
    </div>
  </div>
</div>