<div class="all-cards-month-block">
  <div class="all-cards-momth">
    <div class="month-card">
      <p class="name-card-month">Month income</p>
      <p class="p-amount">{{ amountMonthIncomes | currency }}</p>
    </div>
    <div class="month-card">
      <p class="name-card-month">Month expenses</p>
      <p class="p-amount">{{ amountMonthExpenses | currency }}</p>
    </div>
    <div [ngClass]="amountMonthBalance >= 0 ? 'month-card border-positive-balance' : 'month-card border-negative-balance'">
      <p class="name-card-month">Month balance</p>
      <p class="p-amount">{{ amountMonthBalance | currency }}</p>
    </div>
  </div>
</div>
