<div class="all-name-page-block">
  <div class="name-page-row">
    <h1>{{ namePage || 'Your Balance' }}</h1>
    <p class="today-date">{{ currentDate }}</p>
  </div>
  <div class="owner-information-block">
    <img src="../../../assets/img/blank.png" alt="blank" />
    <div class="name-owner-block">
      <p class="p-owner">
        owner <span class="span-owner">{{ name }}</span>
      </p>
      <p class="p-creation-date">
        creation date <span class="span-creation-date">{{ dateCreation }}</span>
      </p>
    </div>
  </div>
</div>
