$base-container-width: 1440px;
$base-container-horizontal-paddings: 60px;

$base-color-font: #000000;
$light-color: #dedede;
$primary-color: #828282;
$accent-color: #00969d;
$active-btn-toggle-color: #ffffff;
$white-color: #ffffff;

$base-font-family: 'Inter', sans-serif;
$base-font-size: 16px;
$base-plus-font-size: 20px;
$h1-font-size: 26px;
$h2-font-size: 22px;

$base-card-border: 1px solid #e0e0e0;
$base-border-radius: 8px;
